<#list commentsList as comment>
<div class="division boxBrown">
 
<strong><span class="author fontcolorOrange">  <a href="goods-${comment.goods_id}.html" target="_blank">${comment.name}</a> </span>：&nbsp; </strong>
<span class="timpstamp font10px fontcolorGray replies prepend-1"><@dateFormat date="${comment.dateline?c}" pattern="yy-MM-dd HH:mm"/>&nbsp;&nbsp;</span> 
<span class="timpstamp font10px fontcolorGray replies prepend-1">  评分：<strong>${comment.grade}</strong>&nbsp;&nbsp;</span> 
<div class="boxBlue" style="margin: 10px 0pt;">${comment.content}</div>
<div>
	<#if comment.replystatus == 1>
	<div style="border-bottom: 1px dotted rgb(174, 195, 207);">
		<span class="author fontcolorOrange" style="color: rgb(0, 51, 153);">回复：</span> 
		<div>${comment.reply}</div>
	</div>
	</#if>	
</div>
 
</div>
</#list>
