 <form method="post" action="member_order.html?action=savecancel" class="validate">

<input type="hidden" name="sn" value="${sn}" />  
<div class="FormWrap ">
<table cellspacing="0" cellpadding="0" border="0" width="100%"
	class="liststyle data">
	<colgroup class="span-8 ColColorBlue"></colgroup>
	<colgroup class="span-auto ColColorGray textcenter"></colgroup>
	<tbody>
		<tr>
			<td width="50%">
			
 
			<strong>请输入取消原因</strong>
			
 	
	 
	 
	 
<table cellspacing="0" cellpadding="0" border="0" width="100%" class="liststyle data">
	<col class="span-5">
	<col>
	<tbody>
		<tr>
	 
			<td><textarea
 type="text"  name="cancel_reason" style="width:80%; height:100px; line-height:15px;"></textarea></td>
		</tr>
	 <tr>
		<td  colspan="2" align="center" style="text-align:center"><input type="submit" value="确认取消订单" class="btnx"></td>
	 </tr>
	</tbody>
</table>

	
	
	
  
			</td>
		 
		</tr>
	</tbody>
</table>
</div>
</form>